# API
API_PORT=3001
API_PREFIX=api
NODE_ENV=development

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/analyzer_video

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# YouTube API (MVP)
YOUTUBE_API_KEY=replace_me
